@tailwind base;
@tailwind components;
@tailwind utilities;

.space-bg {
  background: #000000;
  background: linear-gradient(180deg, #000000 0%, #050520 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: floatAnimation 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}
